.data-designer {
  position: relative;
  background: #e7e7e7;
  text-align: left;
}

.link-canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.link-canvas path {
  pointer-events: all;
}

.link-canvas path.selected {
  stroke: blue;
}

.data-designer-canvas {
  position: relative;
  width: 100%;
  height: 800px;
}

.data-designer-canvas .data-source {
  width: 200px;
  position: absolute;
}

.data-designer .data-source .list-group-item {
  color: #8c8c8c;
}

.button-wrapper {
  padding: 20px;
}
